.mainBlock {
	top: 110px;
	position: sticky;
	width: 50%;
	height: min-content;
	max-height: 100%;
}

.btnBlock {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 10px;
}

.oneLangBtnBlock {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btnOriginal,
.btnEnglish,
.btnDeutsch,
.btnEnglishActive,
.btnDeutschActive {
	padding: 10px;
	width: 100%;
	max-width: 180px;
	border-radius: 10px;
	transition:
		background-color 1s ease,
		color 1s ease,
		width 1s ease;
}
.btnOriginal:hover,
.btnEnglishActive:hover,
.btnDeutschActive:hover {
	opacity: 0.8;
	transition: opacity 1s ease;
}

.btnOriginal {
	background-color: green;
	color: white;
}
.emptyCurrTemplate {
	opacity: 0;
	cursor: auto;
}
.btnEnglish,
.btnDeutsch {
	background-color: rgb(240, 240, 240);
	color: rgb(181, 181, 181);
	cursor: auto;
}
.btnEnglishActive,
.btnDeutschActive {
	background-color: green;
	color: white;
}
.withDownloadBtn {
	border: 1px solid green;
	padding: 9px;
	color: green;
	background-color: white;
	border-radius: 10px 0 0 10px;
}

@keyframes expandWidth {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
.btnDownload {
	width: 0;
	animation: expandWidth 1.5s ease-out both;
	margin-left: 1px;
	background-color: white;
	border-radius: 0 10px 10px 0;
	color: green;
	border: 2px solid green;
	padding: 2px 3px 2px 3px;
}
.btnDownload:hover {
	opacity: 0.8;
	color: white;
	background-color: green;
}

.downloadIcon {
	width: 0;
	animation: expandWidth 0.5s ease-out both;
}

@media (max-width: 768px) {

	.mainBlock {
		top: 0;
		position: block;
		width: 100%;
	}
}
