.pizzaItem {
	display: flex;
	flex-direction: row;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
}
.topContainer {
	display: flex;
	flex-direction: column;
	padding: 5px;
	margin-bottom: 15px;
}
.pizzaContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 20px;
	width: 100%;
	height: 100%;
}
.pizzaNameInfo {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	padding-bottom: 10px;
}
.pizzaName {
	font-size: 26px;
	color: #007b32;
	font-weight: 500;
}
.productInfoButton {
	background: none;
	border: none;
	color: #888;
	text-decoration: underline;
	cursor: pointer;
	font-size: 14px;
	transition: color 0.2s ease;
	padding: 0 0 5px 20px;
}

.productInfoButton:hover {
	color: #666;
	font-weight: 500;
}

.productInfoButton:active {
	color: #444;
	font-weight: 500;
}

.pizzaHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.priceBox {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.pizzaSizeContainer {
	display: flex;
	align-items: center;
	font-size: 16px;
	color: #555;
	margin-right: 10px;
}

.sizeIcon {
	font-size: 24px;
	margin-right: 5px;
	margin-bottom: 3px;
	color: #999;
}

.pizzaSize {
	font-weight: 500;
	font-size: 14px;
	color: #999;
}

.pizzaPrice {
	font-size: 20px;
	font-weight: bold;
	color: #009640;
	margin: 0;
	padding-bottom: 3px;
}

.pizzaDescription {
	font-size: 14px;
	color: #666;
	margin: 0;
	text-align: left;
}

.pizzaImage {
	width: 160px;
	height: 160px;
	height: auto;
	border-radius: 8px;
	display: block;
	margin-right: 20px;
}

.pizzaActions {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 20px;
	width: 100%;
	padding-left: 0;
}

.selectButton {
	background-color: #009640;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 8px 12px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	transition: background-color 0.2s ease;
}

.selectButton:hover {
	background-color: #007b32;
}

.viewButton {
	background: none;
	border: none;
	cursor: pointer;
	color: #333;
	display: flex;
	align-items: center;
}

@media (max-width: 768px) {
	.pizzaItem {
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: center;
		padding-bottom: 30px;
	}
	.pizzaNameInfo {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 10px;
	}
	.productInfoButton {
		padding: 5px;
	}
	.topContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 5px;
		margin-bottom: 15px;
	}
	.pizzaDescription {
		font-size: 14px;
		color: #666;
		margin: 0;
		text-align: center;
	}
	.pizzaImage {
		width: 200px;
		height: 200px;
		border-radius: 8px;
		margin: 20px 0;
	}

	.pizzaContent {
		width: 100%;
		display: flex;
		align-items: center;
		margin: 0;
	}

	.pizzaHeader {
		flex-direction: column;
		align-items: center;
		margin-bottom: 10px;
	}

	.pizzaActions {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-top: 20px;
		width: 90%;
	}
}
