.cardsBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 120px 20px 0px 20px;
	text-align: center;
	align-items: center;
}
.titlePage {
	font-size: 28px;
	font-weight: 500;
	color: #22496d;
	line-height: 32px;
	letter-spacing: 0em;
	padding-top: 20px;
	margin: 0;
}
.subtitlePage {
	font-size: 18px;
	font-style: italic;
	color: #98a2b3;
	letter-spacing: 0em;
	margin-bottom: 10px;
}
.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
	width: 100%;
	padding-top: 20px;
}
.topContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	margin-bottom: 30px;
}
.leftContainer,
.rightContainer {
	width: 45%;
	padding: 20px;
	background-color: #f7f7f7;
	border-radius: 12px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cards {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	justify-content: center;
}
.cards p {
	margin: 0;
	font-size: 15px;
}

.letterOption {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 8px;
}
.letterOption:hover {
	background-color: #eaeaea;
}
.selected {
	background-color: #cce5ff;
}
.imageOptions {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-bottom: 20px;
}
.imageOptions label {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
}
.imagePreview {
	width: 200px;
	height: auto;
	border: 1px solid #ccc;
	margin-left: 10px;
	margin-top: 20px;
}

.previewContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
	position: relative;
	width: 94%;
	height: auto;
	padding: 20px 20px 20px 30px;
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}
.cardBox {
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: center;
}
.letter {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	z-index: 1;
	width: 100%;
}
.letter1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	position: relative;
	z-index: 1;
	width: 97%;
}

.previewImage {
	position: absolute;
	top: 50%;
	right: 0;
	width: auto;
	height: 100%;
	transform: translateY(-50%);
	object-fit: cover;
	z-index: 0;
}

.textContainerCard {
	width: 90%;
	color: #474e55;
	font-style: italic;
	font-size: 16px;
	line-height: 1.5;
	margin: 10px 0;
	padding: 0;
}
.textContainer,
.textContainer2 {
	width: 95%;
	color: #474e55;
	font-style: italic;
	font-size: 16px;
	line-height: 1.5;
	margin: 10px 0;
}
.textContainer2 {
	width: 70%;
	margin-bottom: 0;
}
.signatureContainer {
	color: #474e55;
	font-style: italic;
	font-size: 16px;
	margin: 0;
	padding-bottom: 15px;
}

.titleLetter {
	font-size: 18px;
	line-height: 1.5;
	color: #474e55;
	font-style: italic;
	margin: 10px 0;
	font-weight: 500;
}

.inputBox {
	background-color: #f4f5f5;
	border-radius: 8px;
	padding: 10px;
	width: 97%;
}
.inputBlock {
	position: relative;
	width: 100%;
}
.placeholder,
.placeholderDate {
	position: absolute;
	margin: 20px 0;
	padding: 0 4px;
	font-size: 14px;
	color: #636363;
	display: flex;
	align-items: center;
	top: 0;
	left: 10px;
	transition: all 0.2s;
	transform-origin: 0% 0%;
	background: none;
	pointer-events: none;
}
.placeholderDate {
	opacity: 0;
}

.inputBlockRecipientName {
	position: relative;
	display: block;
	width: 50%;
}
.name:focus + .placeholder,
.name:valid + .placeholder,
.filledPlaceholder {
	transform: scale(0.8) translateY(-20px);
	color: #8d8d8d;
	background-color: #ffffff;
}
.date:focus + .placeholderDate,
.date:valid + .placeholderDate {
	transform: scale(0.8) translateY(-20px);
	color: #8d8d8d;
	background-color: #ffffff;
	opacity: 1;
}
.name:focus {
	border: 1px solid #22496d;
	outline: none;
}
input[type='text'],
input[type='date'] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 14px;
	color: #636363;
}
input[type='text']:focus,
input[type='date']:focus {
	border: 1px solid #22496d;
	outline: none;
}
.inputBlock {
	position: relative;
	display: block;
}

.nameBox {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 10px;
}
.genderBox {
	width: 50%;
}
.date {
	width: 100%;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.checkboxContainer {
	width: 90%;
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	align-items: flex-start;
	text-align: left;
	font-size: 14px;
	color: #666;
	font-style: italic;
}
.checkbox {
	margin-right: 20px;
}
.inactiveMessage {
	color: #888;
	font-size: 14px;
}
.loadingMessage,
.errorMessage {
	color: #c00;
	font-size: 16px;
}
.buttonDownload {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.downloadLinkDisabled,
.downloadLink {
	padding: 8px 16px;
	background: linear-gradient(145deg, #666, #ccc);
	color: #ffffff;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	cursor: not-allowed;
	transition: background-color 0.3s ease;
	margin: 0;
	transition: none;
}
.downloadLink {
	background: linear-gradient(145deg, #c92029, #ed9ea2);
	cursor: pointer;
}

.buttonContainer {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.languageSelect {
	padding: 8px 16px;
	background: linear-gradient(145deg, #2e6099, #35bbd3);
	color: #ffffff;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.languageSelect:hover {
	background: linear-gradient(145deg, #35bbd3, #85deee);
}
.languageSelect:focus {
	border: none;
}
.languageSelect option {
	color: #000000;
	background: #ffffff;
}

h2 {
	color: #22496b;
	margin-bottom: 10px;
}
p {
	font-size: 16px;
	line-height: 1.5;
	color: #39340c;
	margin: 10px 0;
}
h3 {
	margin: 0;
	padding: 10px;
}
.inputBlock input {
	width: 100%;
	padding-right: 30px;
	box-sizing: border-box;
}

.clearButton {
	position: absolute;
	right: 10px;
	top: 60%;
	transform: translateY(-50%);
	background: none;
	border: none;
	font-size: 14px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	color: #636363;
}

.clearButton:hover {
	color: #c92029;
}
.backButton {
	align-self: flex-start;
	padding: 0;
	color: #35bbd3;
	font-weight: 500;
	border: none;
	cursor: pointer;
	padding-left: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	font-style: italic;
	margin-top: 30px;
}

.backButton:hover {
	text-decoration: underline;
}
.buttonBack {
	display: flex;
	justify-content: center;
}
@media (max-width: 768px) {
	.cardsBox {
		padding: 10px 20px 0px 20px;
	}
	.titlePage {
		font-size: 22px;
	}
	.subtitlePage {
		font-size: 16px;
	}
	.backButton {
		font-size: 14px;
		margin-top: 10px;
	}
	.mainContainer {
		flex-direction: column;
		width: 90%;
		padding: 10px;
	}
	.previewContainer {
		width: 84%;
	}
	.topContainer {
		flex-direction: column;
		width: 100%;
		margin-bottom: 0;
	}

	.leftContainer,
	.rightContainer {
		width: 100%;
		padding: 15px;
		margin-bottom: 15px;
	}

	.inputBlock input {
		font-size: 14px;
	}

	.previewImage {
		width: 70%;
		height: auto;
		top: auto;
		bottom: 0;
		right: 0;
		transform: none;
		position: absolute;
	}

	.titlePage {
		font-size: 22px;
		line-height: 26px;
	}

	.subtitlePage {
		font-size: 14px;
	}

	.signatureContainer {
		font-size: 14px;
	}

	.downloadLink,
	.languageSelect {
		width: 100%;
		font-size: 14px;
	}
	.nameBox {
		flex-direction: column;
	}
	.checkboxContainer {
		margin-top: 0;
	}
}
