.mainBox {
	max-width: 800px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainContainer {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 600px;
}

.titlePage {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #333;
	margin-bottom: 20px;
}

.content p {
	margin: 10px 0;
	font-size: 16px;
	color: #555;
	line-height: 1.5;
}

.content a {
	color: #009640;
	text-decoration: none;
	transition: color 0.3s;
}

.content a:hover {
	color: #065b2b;
}

.backToHome {
	margin-top: 20px;
	text-align: center;
	font-size: 16px;
}

.backToHome a {
	color: #009640;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	gap: 5px;
	transition: color 0.3s ease;
}

.backToHome a:hover {
	color: #065b2b;
}

.arrow {
	font-size: 20px;
	font-weight: bold;
	transition: transform 0.3s ease;
}

.backToHome a:hover .arrow {
	transform: translateX(-5px); /* Добавляем анимацию сдвига стрелки */
}

@media (max-width: 480px) {
	.mainBox {
		width: 90%;
		padding: 10px;
	}

	.titlePage {
		font-size: 18px;
	}

	.content p {
		font-size: 14px;
	}

	.backToHome {
		font-size: 14px;
	}
}