.cardsBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 100px 20px 30px 20px;
	text-align: center;
	align-items: center;
}
.titlePage {
	font-size: 28px;
	font-weight: 500;
	color: #22496d;
	line-height: 32px;
	letter-spacing: 0em;
	padding-top: 10px;
	margin: 0;
}
h3 {
	font-weight: 500;
}
.subtitlePage {
	font-size: 18px;
	font-style: italic;
	color: #98a2b3;
	letter-spacing: 0em;
	margin-bottom: 10px;
}
.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
	width: 100%;
	padding-top: 20px;
}
.topContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	margin-bottom: 30px;
}
.leftContainer,
.rightContainer {
	width: 45%;
	padding: 20px;
	background-color: #f7f7f7;
	border-radius: 12px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.cards {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	justify-content: center;
}
.cards p {
	margin: 0;
	font-size: 15px;
}

.letterOption {
	cursor: pointer;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 8px;
}
.letterOption:hover {
	background-color: #eaeaea;
}
.selected {
	background-color: #cce5ff;
}
.imageOptions {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
	margin-bottom: 20px;
}
.imageOptions label {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
}
.imagePreview {
	width: 200px;
	height: auto;
	border: 1px solid #ccc;
	margin-left: 10px;
	margin-top: 20px;
}
.bottomContainer {
	display: flex;
	justify-content: center;
	width: 60%;
	padding: 20px;
}
.previewContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
	position: relative;
	width: 600px;
	height: 400px;
	padding: 20px;
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}
.cardBox {
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: center;
}
.letter {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	z-index: 1;
	width: 80%;
}

.previewImage {
	position: absolute;
	top: 50%;
	right: 0;
	width: auto;
	height: 100%;
	transform: translateY(-50%);
	object-fit: cover;
	z-index: 0;
}

.textContainerCard {
	width: 90%;
	color: #474e55;
	font-style: italic;
	font-size: 16px;
	line-height: 1.5;
	margin: 10px 0;
	padding: 0;
}
.textContainer,
.textContainerP2 {
	width: 75%;
	color: #474e55;
	font-style: italic;
	font-size: 16px;
	line-height: 1.5;
	margin: 10px 0;
}
.textContainerP2 {
	width: 80%;
}

.titleLetter {
	font-size: 18px;
	line-height: 1.5;
	color: #474e55;
	font-style: italic;
	margin: 10px 0;
	font-weight: 500;
}

.inputBox {
	background-color: #f6f6f6;
	border-radius: 8px;
	padding: 10px;
	padding-top: 0;
	border: 1px solid #ccc;
	width: 97%;
}
.inputBlock {
	position: relative;
	width: 100%;
}
.placeholder,
.placeholderDate {
	position: absolute;
	margin: 20px 0;
	padding: 0 4px;
	font-size: 14px;
	color: #636363;
	display: flex;
	align-items: center;
	top: 0;
	left: 10px;
	transition: all 0.2s;
	transform-origin: 0% 0%;
	background: none;
	pointer-events: none;
}
.placeholderDate {
	opacity: 0;
}

.inputBlockRecipientName {
	position: relative;
	display: block;
	width: 50%;
}
.name:focus + .placeholder,
.name:valid + .placeholder,
.filledPlaceholder {
	transform: scale(0.8) translateY(-20px);
	color: #8d8d8d;
	background-color: #ffffff;
}
.date:focus + .placeholderDate,
.date:valid + .placeholderDate {
	transform: scale(0.8) translateY(-20px);
	color: #8d8d8d;
	background-color: #ffffff;
	opacity: 1;
}
.name:focus {
	border: 1px solid #22496d;
	outline: none;
}
input[type='text'],
input[type='date'] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 14px;
	color: #636363;
}
input[type='text']:focus,
input[type='date']:focus {
	border: 1px solid #22496d;
	outline: none;
}
.inputBlock {
	position: relative;
	display: block;
}

.nameBox {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 10px;
}
.genderBox {
	width: 50%;
}
.date {
	width: 100%;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.checkboxContainer {
	width: 90%;
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	align-items: flex-start;
	text-align: left;
	font-size: 14px;
	color: #666;
	font-style: italic;
}
.checkbox {
	margin-right: 20px;
}
.inactiveMessage {
	color: #888;
	font-size: 14px;
}
.loadingMessage,
.errorMessage {
	color: #c00;
	font-size: 16px;
}
.buttonDownload {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 50px;
}
.downloadLinkDisabled,
.downloadLink {
	padding: 8px 16px;
	background: linear-gradient(145deg, #666, #ccc);
	color: #ffffff;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	cursor: not-allowed;
	transition: background-color 0.3s ease;
	margin: 0;
	transition: none;
}
.downloadLink {
	background: linear-gradient(145deg, #c92029, #ed9ea2);
	cursor: pointer;
}

.buttonContainer {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.languageSelect {
	padding: 8px 16px;
	background: linear-gradient(145deg, #2e6099, #35bbd3);
	color: #ffffff;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.languageSelect:hover {
	background: linear-gradient(145deg, #35bbd3, #85deee);
}
.languageSelect:focus {
	border: none;
}
.languageSelect option {
	color: #000000;
	background: #ffffff;
}
.paragraphBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 50px;
	width: 90%;
}
.title {
	color: #c92029;
	font-size: 22px;
	font-weight: bold;
	text-align: justify;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title::after {
	content: '';
	width: 100%;
	display: inline-block;
	text-align: center;
}
.paragraphSubtitle {
	color: #98a2b3;
	font-size: 18px;
	font-style: italic;
	padding-bottom: 20px;
	text-align: justify;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.paragraphSubtitle::after {
	content: '';
	width: 100%;
	display: inline-block;
	text-align: center;
}
.paragraphs,
.paragraph,
.titleParagraph {
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.paragraphs::after,
.paragraph::after,
.titleParagraph::after {
	content: '';
	width: 100%;
	display: inline-block;
	text-align: left;
}
.titleParagraph {
	font-weight: bold;
	margin-bottom: 0;
	color: #35bbd3;
	font-size: 20px;
}
.paragraphs {
	margin-top: 5px;
	color: #22496b;
	font-size: 18px;
}
.paragraph {
	margin-top: 25px;
	color: #c92029;
	font-size: 18px;
	font-weight: 500;
}
.paragraphLast {
	text-align: left;
	font-style: italic;
	color: #98a2b3;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.paragraphLast::after {
	content: '';
	width: 100%;
	display: inline-block;
	text-align: left;
}
.paragraphLast:hover {
	text-decoration: underline;
	cursor: pointer;
}
h2 {
	color: #22496b;
	margin-bottom: 10px;
}
p {
	font-size: 16px;
	line-height: 1.5;
	color: #39340c;
	margin: 10px 0;
}
h3 {
	margin: 0;
	padding: 10px;
}
.inputBlock input {
	width: 100%;
	padding-right: 30px;
	box-sizing: border-box;
}

.clearButton {
	position: absolute;
	right: 10px;
	top: 60%;
	transform: translateY(-50%);
	background: none;
	border: none;
	font-size: 14px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	color: #636363;
}

.clearButton:hover {
	color: #c92029;
}
@media (max-width: 1280px) {
	.cardsBox {
		padding: 100px 20px 30px 20px;
		text-align: center;
	}
	.titlePage {
		font-size: 26px;
		line-height: 28px;
	}
	.leftContainer,
	.rightContainer {
		width: 46%;
		padding: 15px;
		margin-bottom: 15px;
	}
	.imagePreview {
		width: 180px;
		margin-left: 0;
		margin-top: 15px;
	}
}
@media (max-width: 1024px) {
	.cardsBox {
		width: 90%;
		padding: 10px;
		text-align: center;
	}

	.titlePage {
		font-size: 22px;
		line-height: 28px;
		padding-top: 10px;
	}
	.subtitlePage {
		font-size: 16px;
		margin-bottom: 5px;
	}

	.mainContainer {
		padding-bottom: 10px;
		width: 100%;
		padding-top: 10px;
		justify-content: center;
	}

	.topContainer {
		flex-direction: column;
		width: 100%;
		margin-bottom: 20px;
		justify-content: center;
		align-items: center;
	}

	.leftContainer,
	.rightContainer {
		width: 90%;
		padding: 15px;
		margin-bottom: 15px;
	}

	.cards {
		padding: 5px;
	}

	.letterOption {
		padding: 8px;
		margin-bottom: 8px;
	}

	.imageOptions {
		margin-bottom: 15px;
		justify-content: center;
	}

	.imagePreview {
		width: 120px;
		margin-left: 0;
		margin-top: 15px;
	}

	.bottomContainer {
		width: 450px;
		height: 280px;
		padding: 15px;
	}

	.previewContainer {
		width: 100%;
		height: auto;
		padding: 15px;
	}
	.previewImage {
		width: 60%;
		height: auto;
		top: auto;
		bottom: 0;
		right: 0;
		transform: none;
		position: absolute;
	}
	.letter {
		width: 100%;
	}

	.textContainer,
	.textContainerP2 {
		width: 80%;
		font-size: 12px;
	}

	.textContainerP2 {
		width: 60%;
	}

	.titleLetter,
	.titleLetterCard {
		font-size: 16px;
		margin: 5px 0;
	}

	.inputBox {
		width: 100%;
		padding: 0;
	}
	.inputBlockRecipientName {
		width: 100%;
	}

	.date {
		width: 100%;
	}

	.checkboxContainer {
		flex-direction: row;
	}

	.buttonDownload,
	.buttonContainer {
		margin-top: 15px;
		margin-bottom: 30px;
	}

	.languageSelect {
		width: 100%;
	}

	.paragraphBox {
		width: 100%;
		padding-bottom: 0;
	}

	.title {
		font-size: 20px;
		text-align: center;
	}

	.paragraphSubtitle {
		font-size: 16px;
		padding-bottom: 15px;
		text-align: center;
	}

	.titleParagraph {
		font-size: 16px;
		font-weight: 500;
		align-items: center;
		text-align: center;
	}
	.paragraphs,
	.paragraph {
		font-size: 14px;
		align-items: center;
		text-align: center;
	}

	.paragraph {
		margin-top: 18px;
		font-weight: 500;
		align-items: center;
	}

	.paragraphLast {
		font-size: 14px;
		text-align: center;
		align-items: center;
	}

	.inputBlock {
		position: relative;
		margin-top: 10px;
	}

	.clearButton {
		font-size: 12px;
	}
}
@media (max-width: 768px) {
	.cardsBox {
		padding: 10px;
		text-align: center;
	}

	.titlePage {
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
		padding-top: 0;
	}
	.subtitlePage {
		font-size: 16px;
		margin-bottom: 5px;
	}

	.mainContainer {
		padding-bottom: 10px;
		width: 100%;
		padding-top: 10px;
	}

	.topContainer {
		flex-direction: column;
		width: 100%;
		margin-bottom: 20px;
	}

	.leftContainer,
	.rightContainer {
		width: 100%;
		padding: 15px;
		margin-bottom: 15px;
		margin-left: 10px;
	}

	.cards {
		padding: 5px;
	}

	.letterOption {
		padding: 8px;
		margin-bottom: 8px;
	}

	.imageOptions {
		margin-bottom: 15px;
	}

	.imagePreview {
		width: 120px;
		margin-left: 0;
		margin-top: 15px;
	}

	.bottomContainer {
		width: 100%;
		height: auto;
		padding: 10px;
	}

	.previewContainer {
		width: 100%;
		height: 100%;
		padding: 15px;
	}
	.previewImage {
		width: 70%;
		height: auto;
		top: auto;
		bottom: 0;
		right: 0;
		transform: none;
		position: absolute;
	}
	.letter {
		width: 100%;
	}

	.textContainer,
	.textContainerP2 {
		width: 80%;
		font-size: 12px;
	}

	.textContainerP2 {
		width: 60%;
	}

	.titleLetter,
	.titleLetterCard {
		font-size: 16px;
		margin: 5px 0;
	}

	.inputBox {
		width: 100%;
		padding: 0;
	}
	.inputBlock {
		width: 100%;
		margin-bottom: 0;
	}

	.nameBox {
		gap: 0;
		margin: 0;
		flex-direction: column;
	}
	.genderBox {
		width: 100%;
	}
	.inputBlockRecipientName {
		width: 100%;
	}

	.date {
		width: 100%;
	}

	.checkboxContainer {
		flex-direction: row;
	}

	.buttonDownload,
	.buttonContainer {
		margin-top: 15px;
		margin-bottom: 30px;
	}

	.languageSelect {
		width: 100%;
	}

	.paragraphBox {
		width: 100%;
		padding-bottom: 0;
	}

	.title {
		font-size: 20px;
		text-align: center;
	}

	.paragraphSubtitle {
		font-size: 16px;
		padding-bottom: 15px;
		text-align: center;
	}

	.paragraphs,
	.paragraph,
	.titleParagraph {
		font-size: 16px;
		align-items: center;
		text-align: center;
	}

	.paragraph {
		margin-top: 20px;
		align-items: center;
	}

	.paragraphLast {
		font-size: 14px;
		text-align: center;
		align-items: center;
	}

	.inputBlock {
		position: relative;
	margin: 0;
	}

	.clearButton {
		font-size: 12px;
	}
}
