.bannerContainer {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	background-color: #ffffff;
	padding: 10px 20px 20px 20px;
	border-radius: 8px;
	margin-bottom: 40px;
}

.imageContainer {
	display: flex;
	justify-content: space-around;
	flex: 1;
	max-width: 20%;
}
.imageContainer img {
	width: 150px;
	height: auto;
}
.textContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	flex: 1;
	width: 70%;
	margin: 0;
}
.titleContainer {
	text-align: left;
	font-size: 20px;
	color: #22496d;
	font-weight: 500;
	gap: 10px;
}

.firstWord {
	font-size: 16px;
	font-weight: bold;
	color: #22496d;
	margin: 0;
}

.restOfSentence {
	color: #22496d;
	font-size: 14px;
	text-align: left;
	margin: 0;
}
.linkBox {
	color: #35bbd3;
	font-size: 14px;
	text-decoration: underline;
}
.linkBox:hover {
	color: #22496d;
}
@media (max-width: 768px) {
	.bannerContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px;
		gap: 15px;
	}

	.imageContainer {
		max-width: 100%;
		justify-content: center;
	}

	.imageContainer img {
		width: 100px;
		height: auto;
	}

	.linkBox {
		text-align: center;
	}
	.textContainer {
		width: 100%;
		text-align: center;
		font-size: 16px;
	}
	.titleContainer {
		text-align: center;
		font-size: 18px;
		font-weight: 400;
		gap: 10px;
	}
	.firstWord {
		font-size: 14px;
		margin: 0;
	}
	.restOfSentence {
		margin-top: 0;
		text-align: center;
	}
}
