.newsContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.blogNewsContainer {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.shortNewsContainer {
	width: 30%;
}
@media (max-width: 1280px) {
	.newsContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.blogNewsContainer {
		width: 90%;
		align-items: center;
	}
	.shortNewsContainer {
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
@media (max-width: 768px) {
	.newsContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.blogNewsContainer {
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.shortNewsContainer {
		width: 90%;
		align-items: center;
	}
}
