html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
.navbarArea {
	position: relative;
	z-index: 13;
}
.mainContentArea {
	display: flex;
	width: 100%;
	transition: margin-left 0.3s ease;
	overflow: hidden;
}

.navBarLeftContentArea {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	background-color: #f7f7f7;
	transition: transform 0.3s ease;
	z-index: 10;
}

.navBarLeftContentArea.hidden {
	transform: translateX(-100%);
}

.toggleButton {
	position: absolute;
	top: 50%;
	right: -15px;
	transform: translateY(-50%);
	background-color: #22496b;
	color: white;
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	z-index: 11;
}
.navBarLeftContentArea.hidden {
	transform: translateX(-96%);
}

.toggleButton:hover {
	background-color: #35bbd3;
}

.toggleButton:focus {
	outline: none;
}

.contentArea {
	flex-grow: 1;
	padding: 20px;
	transition: margin-left 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.contentArea.centered {
	margin-left: 0;
}

.contentArea.withMenu {
	margin-left: 300px;
}

.footer {
	margin-top: 20px;
	z-index: 12;
	position: relative;
}
@media (max-width: 1024px) {
	.contentArea {
		padding-top: 20px;
		display: flex;
		align-items: self-start;
	}
	.contentArea.withMenu {
		margin-left: 280px;
	}
}
@media (max-width: 768px) {
	.navBarLeftContentArea {
		padding-top: 150px;
		width: 100%;
		z-index: 9;
	}

	.navBarLeftContentArea.hidden {
		transform: translateX(-92%);
	}

	.toggleButton {
		position: absolute;
		top: 30%;
		right: 1px;
		transform: translateY(-50%);
	}
	.contentArea {
		padding: 0 10px 0 35px;
	}
}
