.letterBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 100px;
	text-align: center;
	width: 100%;
}
.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
}
.titlePage {
	font-size: 28px;
	font-weight: 500;
	color: #22496d;
	line-height: 32px;
	letter-spacing: 0em;
}

.textContent {
	width: 80%;
	padding-top: 20px;
}

.letterSubtitle1 {
	width: 60%;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	font-style: italic;
	color: #98a2b3;
	margin: 0;
	padding-bottom: 20px;
}
.letterSubtitle2 {
	font-size: 20px;
	font-weight: 500;
	color: #35bbd3;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}
.letterParagraph {
	width: 100%;
	text-align: justify;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.firstWord {
	display: flex;
	align-items: flex-start;
	font-size: 20px;
	font-weight: 500;
	color: #22496d;
	text-align: left;
}

.restOfSentence {
	display: flex;
	align-items: flex-start;
	color: #22496d;
	font-size: 18px;
	text-align: left;
}
.letterLastParagraph {
	width: 100%;
	color: #98a2b3;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	font-style: italic;
	text-align: left;
}
.videoContent {
	width: 60%;
	height: auto;
	transform: translateZ(0);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
	border: 1px solid #22496d;
	margin-bottom: 20px;
}
@media (max-width: 1280px) {
	.letterBox {
		width: 90%;
		padding-top: 100px;
	}
	.titlePage {
		font-size: 26px;
	}
}
@media (max-width: 1024px) {
	.letterBox {
		width: 80%;
		padding: 0 10px 0 10px;
	}
	.mainContainer {
		padding-bottom: 10px;
	}
	.titlePage {
		margin-top: 0;
		font-size: 22px;
	}
	.letterSubtitle1 {
		width: 100%;
		font-size: 16px;
		padding-bottom: 0;
	}
	.letterSubtitle2 {
		width: 100%;
		font-size: 18px;
	}
	.textContent {
		width: 100%;
		padding-top: 20px;
	}
	.letterParagraph {
		width: 100%;
	}
	.firstWord {
		font-size: 18px;
	}

	.restOfSentence {
		display: flex;
		align-items: flex-start;
		color: #22496d;
		font-size: 16px;
		text-align: left;
	}
	.letterLastParagraph {
		width: 100%;
		color: #98a2b3;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 0em;
		font-style: italic;
		text-align: left;
	}
}
@media (max-width: 768px) {
	.letterBox {
		width: 90%;
		padding-top: 10px;
	}

	.mainContainer {
		padding-bottom: 30px;
	}

	.titlePage {
		font-size: 24px;
		line-height: 28px;
	}

	.textContent {
		width: 90%;
		padding-top: 15px;
	}
	.letterSubtitle1 {
		width: 80%;
		font-size: 14px;
		padding-bottom: 15px;
	}

	.letterSubtitle2 {
		font-size: 18px;
		line-height: 20px;
	}

	.letterParagraph {
		width: 100%;
	}

	.firstWord {
		font-size: 18px;
	}

	.restOfSentence {
		font-size: 16px;
	}

	.letterLastParagraph {
		font-size: 16px;
		line-height: 20px;
	}

	.videoContent {
		width: 100%;
		margin-bottom: 15px;
	}
}
