.calendarContainer {
	height: auto;
	margin: 0 auto;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calendar {
	height: 400px;
}
.calendarHeader {
	text-align: center;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 30px;
	padding: 0;
	color: #22496b;
}
