html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.footerBox {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #313131;
	color: #ffffff;
	box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
}

.bottomInfoBox {
	padding: 20px 0;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 14px;
}

@media (max-width: 768px) {
	.footerBox {
		display: flex;
		justify-content: center;
		padding: 0;
	}
}
