.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.loader {
	border-top: 5px solid #a91111;
	border-right: 5px solid #c4b616;
	border-bottom: 5px solid #e38800;
	border-left: 5px solid #2e6099;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1.5s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
