.mainContainer {
	padding: 20px 15px;
	min-width: 1200px;
	max-width: 1200px;
	margin: 0 ;
}
.title {
	font-size: 28px;
	font-weight: 500;
	color: #ffffff;
	font-family: Tahoma;
	line-height: 32px;
	letter-spacing: 0em;
	padding-top: 20px;
	margin: 0;
	padding-bottom: 20px;
	text-align: center;
}

.contextWrapper {
	display: flex;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
	width: 100%;
	padding: 10px;
	flex-direction: column;
	align-items: flex-start;
	overflow: hidden;
}

.topContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: flex-start;
	text-align: left;
}
.imageContainer {
	flex: 1 1 50%;
	min-height: 350px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	background-size: cover;
	background-position: center;
	border-radius: 4px;
	border: none;
	position: relative;
}

.imageContainer::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}
.imageBox {
	width: 100%;
	height: auto;
	border-radius: 4px;
	object-fit: cover;
	position: relative;
	z-index: 0;
	transition: transform 0.3s ease;
}
.contextBox {
	margin-top: 200px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	position: absolute;
	left: 40%;
	transform: translateX(-50%);
	max-width: calc(100% - 20px);
	z-index: 2;
	color: white;
	background: none;
	box-sizing: border-box;
}
.textIntro {
	width: 100%;
	margin: 10px 0 20px 0;
	padding: 0;
	font-size: 18px;
	color: white;
	font-style: italic;
	font-weight: 200;
}
.text {
	color: #22496d;
	text-align: left;
	font-size: 20px;
	line-height: 1.5;
	padding: 0 10px;
	margin: 0;
}
.textContact {
	color: #666;
	text-align: left;
	font-size: 18px;
	line-height: 1.5;
	padding: 0 10px;
	font-weight: 500;
}
.textTelethon {
	font-size: 18px;
	color: #666;
	line-height: 1.5;
	font-weight: 500;
	padding: 0 10px;
	text-align: left;
}
.lowerContainer {
	margin-top: 20px;
}

.text2 {
	color: #666;
	text-align: left;
	font-style: italic;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	font-family: Tahoma;
}
.textItalic,
.textItalicRed {
	color: #666;
	text-align: left;
	font-style: italic;
	font-size: 16px;
	line-height: 1.5;
	padding: 0 10px;
	font-weight: 400;
	font-family: Tahoma;
}
.textItalicRed {
	color: #c92029;
	font-weight: 600;
	font-size: 18px;
	padding: 0;
}
@media (max-width: 1280px) {
	.title {
		font-size: 26px;
		line-height: 30px;
	}

	.text {
		font-size: 18px;
	}

	.textContact,
	.textTelethon {
		font-size: 16px;
	}

	.imageContainer {
		min-height: 300px;
	}
}
@media (max-width: 1024px) {
	.mainContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 100%;
		max-width: 100%;
		padding: 10px;
		box-sizing: border-box;
		
	}
	.title {
		font-size: 24px;
		line-height: 28px;
	}

	.text {
		font-size: 16px;
	}

	.textContact,
	.textTelethon {
		font-size: 14px;
	}

	.contextBox {
		margin-top: 150px;
		left: 50%;
	}

	.imageContainer {
		min-height: 250px;
	}
}
@media (max-width: 768px) {
	.mainContainer {
		width: 90%;
		padding: 10px;
		padding-top: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		text-align: center;
	}

	.text {
		font-size: 16px;
		text-align: center;
		line-height: 1.3;
	}

	.text2 {
		font-size: 14px;
		text-align: center;
	}

	.textItalic,
	.textItalicRed {
		font-size: 14px;
		text-align: center;
	}

	.lowerContainer {
		margin-top: 10px;
	}

	.textContact,
	.textTelethon {
		font-size: 14px;
	}
}
