.infoBox {
	margin: 0 auto;
	padding: 0;
}

.introducingContainer {
	position: relative;
	width: 80%;
	max-width: 1200px;
	height: auto;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0 60px 0;
	margin: 0 auto;
}

.introducing {
	width: 100%;
	text-align: center;
}

.introducingParagraph1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 26px;
	font-weight: 500;
	line-height: 38px;
	letter-spacing: 0em;
	background: #ffffff;
	color: #22496d;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0;
	padding: 0 5%;
}
.introducingParagraph2,
.introducingParagraph3 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0em;
	background: #ffffff;
	color: #22496d;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0;
	padding-top: 20px;
}
