.categorySection {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 30px;
}

.imageContainer {
	width: 100%;
	padding: 0;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 30px;
}

.categoryImage {
	width: 100%;
	border-radius: 8px;
	height: auto;
	object-fit: cover;
}
.titleBox {
	width: 100%;
	max-width: 1200px;
	margin: 10px auto 0;
	text-align: left;
}

.categoryTitle {
	color: #ddd;
	margin: 0;
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
	margin-left: 20px;
	margin-bottom: 20px;
}
@media (max-width: 768px) {
	.categoryImage {
		width: 100%;
		border-radius: 0;
		height: auto;
		object-fit: cover;
	}
	.categorySection {
		margin-bottom: 10px;
	}
	.categoryTitle {
		font-size: 12px;
		margin-left: 20px;
		margin-bottom: 0;
	}
}
