.pageBox {
	margin: 0;
	width: 100%;
	overflow-x: hidden;
}

.bannerContainer {
	background-image: url('/schapka_menu.svg');
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	padding-top: 40%;
	position: relative;
}

