.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1200;
}
select {
	padding: 5px;
	border-color: #009640;
}
.centeredContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.image {
	width: 300px;
	height: 300px;
	border-radius: 8px;
	object-fit: cover;
	margin-bottom: 10px;
}
.ingredientContainer {
	text-align: left;
	max-height: 100px; /* Ограничиваем высоту, чтобы включить прокрутку */
	overflow: hidden; /* Прокрутка скрыта */
	transition: max-height 0.3s ease;
}
.ingredientContainer2 {
	text-align: left;
	max-height: 150px; /* Ограничиваем высоту, чтобы включить прокрутку */
	overflow: hidden; /* Прокрутка скрыта */
	transition: max-height 0.3s ease;
}
.scrollable {
	max-height: 300px; /* Увеличенная высота для отображения всех ингредиентов */
	overflow-y: auto; /* Включаем вертикальную прокрутку */
}

.toggleButton {
	background: none;
	color: #009640;
	border: none;
	cursor: pointer;
	font-size: 14px;
	margin-top: 10px;
	text-decoration: underline;
}
.typeTitle {
	font-size: 18px;
	font-weight: 500;
	color: #313131;
	padding: 10px 0 5px 0;
}
.nameTitle {
	text-align: center;
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 10px;
}
.modalContent {
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	width: 400px;
	max-width: 90%;
	position: relative;
}

.closeButton {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
}

.extraOption {
	display: block;
	margin: 10px 0;
}

.quantityControls {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-right: 10px;
}

.quantityButton {
	padding: 5px 10px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f3f3f3;
}

.quantity {
	font-size: 1.2rem;
	font-weight: bold;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	flex-wrap: wrap;
}

.totalPrice {
	font-size: 1.2rem;
	font-weight: bold;
	margin-right: auto;
}

.addToCartButton {
	background-color: #009640;
	color: white;
	padding: 10px 30px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 0;
	transition: background-color 0.3s ease;
}

.addToCartButton:hover {
	background-color: #247045;
}
.freeIngredientOption {
	display: block;
	margin: 5px 0;
	padding: 6px;
	background-color: #f0f8e7; /* Светлый фон */
	border-radius: 6px;
	border: 1px dashed #a0d199; /* Пунктирная рамка */
	font-weight: 500;
	color: #006400;
	transition: background-color 0.3s ease;
}

.freeIngredientOption:hover {
	background-color: #d7ebc6; /* Более тёмный оттенок при наведении */
}

@media (max-width: 768px) {
	.modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 110;
	}
	.modalContent {
		background: #fff;
		padding: 20px;
		border-radius: 8px;
		width: 87%;
		position: relative;
	}
	.image {
		width: 200px;
		height: 200px;
	}
}
