html, body {
    height: 100%; /* Устанавливаем 100% высоты для корневых элементов */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.mainContent {
    flex: 1; /* Контент растягивается, чтобы заполнить оставшееся пространство */
}

footer {
    background-color: #313131;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}
