.scrollTop {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #009640;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.scrollTop:hover {
  transform: scale(1.1);
}
