.mainBlock {
	background-color: transparent;
	border-left: 3px solid #22496b;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 10px;
	border-radius: 5px;
}

.title {
	font-size: 13px;
}

.inputBlock {
	position: relative;
	width: 100%;
}

.inputDateBlock {
	width: 65%;
	position: relative;
	display: block;
}

.myInput {
	background-color: transparent;
}
.myInput:focus {
	border: 1px solid #22496d;
	outline: none;
}

.placeholder,
.placeholderDate {
	position: absolute;
	margin: 20px 0;
	padding: 0 4px;
	font-size: 14px;
	color: #636363;
	display: flex;
	align-items: center;
	top: 0;
	left: 10px;
	transition: all 0.2s;
	transform-origin: 0% 0%;
	background: none;
	pointer-events: none;
}
.placeholderDate {
	opacity: 0;
}
.myInput:focus + .placeholder,
.myInput:valid + .placeholder {
	transform: scale(0.8) translateY(-20px);
	color: #8d8d8d;
	background-color: #ffffff;
}
.myInput:focus + .placeholderDate,
.myInput:valid + .placeholderDate {
	transform: scale(0.8) translateY(-20px);
	color: #8d8d8d;
	background-color: #ffffff;
	opacity: 1;
}

input[type='text'],
input[type='date'],
select {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 14px;
	color: #636363;
}
input[type='text']:focus,
input[type='date']:focus,
select:focus {
	border: 1px solid #22496d;
	outline: none;
}

.addBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
