.customDropdown {
  position: relative;
  display: inline-block;
  align-items: center;
  width: 80%;
}

.dropdownHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #22496d;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.dropdownHeader:hover {
  color: #35bbd3;
}

.dropdownList {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  max-width: 90%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  z-index: 101;
}

.dropdownList button {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 5px;
  color: #22496d;
  font-size: 14px;
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdownList button:hover {
  color: #35bbd3;
  background-color: #f0f0f0;
}
