html {
	scroll-behavior: smooth;
}

a,
button {
	text-decoration: none;
	background: none;
	border: none;
	cursor: pointer;
}

.navbarBox {
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	z-index: 102;
	width: 100%;
	background-color: #ffffff;
}

.navigationPanelTop {
	padding: 10px 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	height: 50px;
}

.logoBox {
	padding-left: 20px;
	display: flex;
	align-items: center;
}

.logoBoxHome {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 40px;
	border-radius: 8px;
	gap: 10px;
	margin-right: 40px;
	color: #22496d;
	padding-top: 5px;
}

.logoBoxHome:hover {
	color: #35bbd3;
	border-radius: 8px;
}

.logo {
	width: 30px;
	height: 30px;
	border-radius: 0.8px;
}

.textLogo {
	font-size: 24px;
	font-weight: 500;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: left;
	left: 40px;
}

.rightSection {
	display: flex;
	align-items: center;
	gap: 20px;
	padding-right: 80px;
}

.divider {
	height: 20px;
	width: 2px;
	background-color: #22496d;
}

.navigationPanel {
	width: 100%;
	background-color: #22496d;
	display: flex;
	justify-content: center;
	padding: 10px 0;
}

.signBox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 20px;
	margin-right: 20px;
	gap: 20px;
	padding-top: 5px;
}

.logInHome,
.logInOther {
	width: 100%;
	padding: 0;
	background: none;
	border: none;

	
}
.avatar {
	width: 30px;
	height: auto;
}

.logInHome:hover,
.logInOther:hover {
	color: #35bbd3;
	text-decoration: underline;
}

.signUpHome,
.signUpOther {
	padding: 8px 16px;
	background: none;
	border: none;
	color: #22496d;
	transition: color 0.3s ease;
	font-size: 16px;
	font-weight: 500;
}

.signUpHome:hover,
.signUpOther:hover {
	color: #35bbd3;
	text-decoration: underline;
}
