.cartContainer {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
}
.backButton {
	background: none;
	font-size: 30px;
	border: none;
	cursor: pointer;
	color: #ffffff;
	margin-right: 30px;
	display: flex;
	align-items: center;
}
.backBox {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: flex-end;
	margin: 20px 0 20px 0;
}
.cartTitle {
	font-size: 22px;
	color: #ffffff;
	font-weight: 500;
	text-align: center;
}

.itemsList {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}
.mainBox {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
}
.itemBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
height: 100%;
	padding: 10px 0;
}
.extrasBox {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.item {
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 8px;
	margin-bottom: 10px;
	background-color: #f1f1f1;
}
.itemImage {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 8px;
	margin-right: 15px;
}

.itemDetails {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.itemName {
	font-weight: bold;
	color: #b13a36;
}

.itemQuantity {
	color: #b13a36;
}
.removeBox {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.itemPrice {
	padding: 0;
	font-size: 20px;
	font-weight: bold;
	color: #009640;
}

.sizeExtras {
	margin-top: 5px;
	font-size: 14px;
	color: #000000;
}

.totalPrice {
	font-size: 24px;
	font-weight: 500;
	color: #ffffff;
	text-align: right;
	margin-top: 20px;
	padding: 10px 0;
	border-top: 2px solid #ddd;
}

.clearButton {
	display: block;
	width: 100%;
	padding: 12px;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	background-color: #b13a36;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-top: 20px;
}

.clearButton:hover {
	background-color: #943835;
}
.deleteButton {
	background: none;
	border: none;
	cursor: pointer;
	color: #b13a36;
	margin-left: 10px;

	padding: 0;
	transition: color 0.3s ease;
}

.deleteButton:hover {
	color: #943835;
}
.quantityBox {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.quantityControls {
	display: flex;
	align-items: center;
	gap: 5px;
}

.quantityButton {
	background-color: #f3f3f3;
	color: #333;
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 30px;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}

.quantityButton:hover {
	background-color: #ddd;
	color: #000;
}

.quantity {
	font-size: 16px;
	font-weight: bold;
	color: #333;
	width: 40px;
	text-align: center;
}

@media (max-width: 768px) {
	.cartContainer {
		padding: 15px;
	}
	.backBox {
		margin: 20px 0 20px 0;
		justify-content: space-between;
	}
	.backButton {
		width: 20px;
		height: 20px;
		padding: 0;
	}
	.cartTitle {
		font-size: 16px;
		margin: 0;
		padding-right: 5px;
	}
	.itemDetails {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.removeBox {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.item {
		padding: 10px;
		margin-bottom: 8px;
	}
	.itemBox {
		margin: 0 0 0 10px;
		display: flex;
		justify-content: space-between;
	}
	.itemImage {
		width: 80px;
		height: 80px;
		margin: 0;
	}

	.itemName {
		font-size: 14px;
	}

	.itemPrice {
		font-size: 14px;
		padding-top: 0;
		padding-bottom: 10px;
		width: 70px;
		text-align: right;
	}

	.sizeExtras {
		font-size: 12px;
		width: 80%;
	}

	.totalPrice {
		font-size: 16px;
		padding: 8px 0;
	}

	.clearButton {
		padding: 10px;
		font-size: 16px;
	}
	.quantityControls {
		gap: 5px;
	}

	.quantityButton {
		width: 20px;
		height: 20px;
		font-size: 14px;
	}

	.quantity {
		font-size: 14px;
		width: 30px;
	}
}
