.doctorVisitBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 100px 20px 30px 20px;
	text-align: center;
	align-items: center;
}
.titlePage {
	font-size: 28px;
	font-weight: 500;
	color: #22496d;
	line-height: 32px;
	letter-spacing: 0em;
	padding-top: 20px;
	margin: 0;
}
.subtitlePage {
	font-size: 18px;
	font-style: italic;
	color: #98a2b3;
	letter-spacing: 0em;
	margin-bottom: 10px;
	padding-top: 10px;
}
.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
	width: 90%;
}
.flexContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
	gap: 30px;
}
.template {
	width: 48%;
	background-color: #f7f7f7;
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 12px;
	transition:
		transform 0.3s ease,
		box-shadow 0.3s ease;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.contextReviewsWrapper1,
.contextReviewsWrapper2 {
	display: flex;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
	width: 90%;
	padding: 20px;
	height: 95%;
	flex-direction: column;
	overflow: hidden;
	align-items: center;
	text-align: left;
}
.contextReviewsWrapper1 {
	border-left: 5px solid #c92029;
}
.contextReviewsWrapper2 {
	border-left: 5px solid #35bbd3;
}
.letter {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 5px;
	padding-bottom: 20px;
}
.titleLetter {
	font-size: 18px;
	line-height: 1.5;
	color: #000;
	margin: 10px 0;
	font-weight: 500;
}
.modalTitle {
	color: #22496b;
	margin-bottom: 10px;
}

.pText {
	font-size: 16px;
	line-height: 1.5;
	color: #000;
	margin: 10px 0;
}
.dateBlock {
	width: 70%;
	height: auto;
	display: flex;
	flex-direction: row;

	margin: 0;
	padding: 0;
}
.titleContainer {
	width: 20%;
}
.dateContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.dateTime {
	margin: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.datePart {
	padding-left: 10px;
	padding-right: 10px;
}

.separator {
	margin: 0 10px;
}
.timePart {
	padding-right: 10px;
}

.inputBox {
	background-color: #f4f5f5;
	border-radius: 8px;
	padding: 10px;
	width: 97%;
}
.nameBox,
.timeBox {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 10px;
}
.genderBox {
	width: 45%;
}
.inputBlock {
	position: relative;
	width: 100%;
}

.inputBlock {
	position: relative;
	display: block;
}
.inputParentBlock {
	width: 65%;
	position: relative;
	display: block;
}
.inputDateBlock {
	width: 35%;
	position: relative;
	display: block;
}
.name:focus,
.date:focus,
.time:focus,
.dateOfSignature:focus {
	border: 1px solid #22496d;
	outline: none;
}

input[type='text'],
input[type='date'],
input[type='time'],
select {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 14px;
	color: #636363;
}

input[type='text']:focus,
input[type='date']:focus,
input[type='time']:focus,
select:focus {
	border: 1px solid #22496d;
	outline: none;
}
.date,
.startDate {
	width: 100%;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
.dateStartEnd {
	width: 50%;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
.signatureName {
	font-size: 16px;
	line-height: 1;
	color: #000000;
	margin-top: 0;
}
.dateOfSignature {
	width: 35%;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
.placeholder,
.placeholderDate {
	position: absolute;
	margin: 20px 0;
	padding: 0 4px;
	font-size: 14px;
	color: #636363;
	display: flex;
	align-items: center;
	top: 0;
	left: 10px;
	transition: all 0.2s;
	transform-origin: 0% 0%;
	background: none;
	pointer-events: none;
}

.name:focus + .placeholder,
.name:valid + .placeholder,
.filledPlaceholder {
	transform: scale(0.8) translateY(-20px);
	color: #8d8d8d;
	background-color: #ffffff;
}

.placeholderDate {
	opacity: 0;
}

.date:focus + .placeholderDate,
.startDate:focus + .placeholderDate,
.dateOfSignature:focus + .placeholderDate,
.date:valid + .placeholderDate,
.startDate:valid + .placeholderDate,
.dateOfSignature:valid + .placeholderDate {
	transform: scale(0.8) translateY(-20px);
	color: #8d8d8d;
	background-color: #ffffff;
	opacity: 1;
}

.buttonContainer {
	margin-top: -50px;
}

.buttonLanguage {
	width: 120px;
	padding: 8px 16px;
	background: linear-gradient(145deg, #2e6099, #35bbd3);
	color: #ffffff;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-left: 20px;
	margin-bottom: 20px;
}
.buttonLanguage:hover {
	background: linear-gradient(145deg, #35bbd3, #85deee);
}

.buttonLanguage:not(:last-child) {
	margin-right: 20px;
}

.checkboxContainer {
	width: 90%;
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	align-items: flex-start;
	text-align: left;
	font-size: 14px;
	color: #666;
	font-style: italic;
}

.checkbox {
	margin-right: 20px;
}

.buttonDownload {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 50px;
}

.downloadLinkDisabled,
.downloadLink {
	padding: 8px 16px;
	background: linear-gradient(145deg, #666, #ccc);
	color: #ffffff;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	cursor: not-allowed;
	transition: background-color 0.3s ease;
	margin-left: 20px;
	margin-bottom: 20px;
	transition: none;
}

.downloadLink {
	background: linear-gradient(145deg, #c92029, #ed9ea2);
	cursor: pointer;
}

.inactiveMessage {
	color: #888;
	font-size: 14px;
}

.loadingMessage,
.errorMessage {
	color: #c00;
	font-size: 16px;
}

.doctorVisitParagraphBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 50px;
	width: 100%;
}
.doctorVisitParagraph1,
.doctorVisitParagraph2 {
	text-align: left;
	color: #22496b;
	font-size: 18px;
	padding-bottom: 10px;
}

.bannerContainer {
	width: 100%;
	padding-top: 30px;
}
.clearButton {
	position: absolute;
	right: 10px;
	top: 60%;
	transform: translateY(-50%);
	background: none;
	border: none;
	font-size: 14px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	color: #636363;
}

.clearButton:hover {
	color: #c92029;
}
@media (max-width: 1280px) {
	.doctorVisitBox {
		width: 100%;
		padding: 120px 15px 20px 10px;
		display: flex;
		align-items: center;
	}
	.titlePage {
		font-size: 26px;
		line-height: 26px;
		padding-top: 0;
	}
}
@media (max-width: 1024px) {
	.doctorVisitBox {
		width: 100%;
		padding: 0 15px 20px 10px;
		display: flex;
		align-items: center;
	}
	.titlePage {
		width: 80%;
		font-size: 22px;
		line-height: 26px;
		padding-top: 0;
	}
	.subtitlePage {
		font-size: 14px;
		margin-bottom: 15px;
		color: #98a2b3;
	}

	.mainContainer {
		width: 90%;
		padding-bottom: 10px;
		align-items: center;
	}
	.flexContainer {
		flex-direction: column;
		gap: 20px;
		width: 100%;
	}

	.template {
		width: 100%;
		padding: 15px;
		margin-bottom: 40px;
		box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
	}

	.contextReviewsWrapper1,
	.contextReviewsWrapper2 {
		width: 95%;
		padding: 15px;
		border-radius: 8px;
		text-align: left;
		box-shadow: none;
	}
	.titleLetter {
		font-size: 16px;
		margin: 5px 0;
	}

	.placeholder,
	.placeholderDate {
		font-size: 16px;
		top: -6px;
		left: 12px;
		margin: 25px 0;
	}

	.buttonContainer {
		margin-top: 40px;
		width: 100%;
	}
	.clearButton {
		font-size: 12px;
	}
	.doctorVisitParagraph1,
	.doctorVisitParagraph2 {
		font-size: 16px;
	}
	.bannerContainer {
		padding-top: 0;
	}
}
@media (max-width: 768px) {
	.doctorVisitBox {
		width: 100%;
		padding: 10px;
		display: flex;
		align-items: center;
	}

	.titlePage {
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
		padding-top: 0;
	}

	.subtitlePage {
		font-size: 14px;
		margin-bottom: 15px;
		color: #98a2b3;
	}

	.mainContainer {
		width: 100%;
		padding-bottom: 10px;
		align-items: center;
	}

	.flexContainer {
		flex-direction: column;
		gap: 20px;
		width: 100%;
	}

	.template {
		width: 92%;
		padding: 15px;
		margin-bottom: 40px;
		box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
	}

	.contextReviewsWrapper1,
	.contextReviewsWrapper2 {
		width: 90%;
		padding: 15px;
		border-radius: 8px;
		text-align: left;
		box-shadow: none;
	}

	.contextReviewsWrapper1 {
		border-left: 4px solid #c92029;
	}

	.contextReviewsWrapper2 {
		border-left: 4px solid #35bbd3;
	}

	.letter {
		padding-left: 0;
		padding-bottom: 10px;
	}

	.titleLetter {
		font-size: 16px;
		margin: 5px 0;
	}
	.datePart {
		padding-left: 20px;
		padding-right: 10px;
	}

	.inputBox {
		width: 100%;
		padding: 8px;
	}

	.inputBlock {
		width: 100%;
		margin-bottom: 0;
	}
	.nameBox {
		display: flex;
		flex-direction: column;
		margin: 0;
		gap: 0;
	}
	.genderBox {
		width: 100%;
	}

	.inputParentBlock,
	.inputDateBlock {
		width: 100%;
	}

	input[type='text'],
	input[type='date'],
	select {
		font-size: 14px;
		padding: 12px;
		margin-top: 8px;
		border-radius: 6px;
	}

	.placeholder,
	.placeholderDate {
		font-size: 14px;
		top: -6px;
		left: 12px;
		margin: 25px 0;
	}

	.buttonContainer {
		margin-top: 40px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.buttonLanguage {
		padding: 10px 16px;
		font-size: 16px;
		width: 90%;
		margin: 0;
		margin-bottom: 10px;
	}

	.buttonLanguage:not(:last-child) {
		margin-right: 0;
	}

	.buttonDownload {
		margin-top: 20px;
		margin-bottom: 40px;
	}

	.downloadLink,
	.downloadLinkDisabled {
		padding: 12px 16px;
		font-size: 16px;
	}

	.doctorVisitParagraphBox {
		padding-bottom: 10px;
		width: 90%;
	}

	.doctorVisitParagraph1,
	.doctorVisitParagraph2 {
		font-size: 16px;
		line-height: 1.6;
		padding-bottom: 10px;
	}

	.bannerContainer {
		padding-top: 20px;
	}

	.checkboxContainer {
		font-size: 14px;
	}

	.checkbox {
		margin-right: 10px;
	}
	.clearButton {
		font-size: 12px;
	}
}
